certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
line-bot-sdk==1.8.0
MarkupSafe==1.1.0
numpy==1.16.1
paho-mqtt==1.4.0
requests==2.21.0
RPi.GPIO==0.6.5
urllib3==1.24.1
Werkzeug==0.14.1
wiringpi==2.46.0
