<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body>

    <form action="/test" method="get">
      <button name="get_value" value="from get">get submit</button>
    </form>

    <form action="/test" method="post">
      <button name="post_value" value="from post">post submit</button>
    </form>
    <form action="/switch" method="post">
      <button name="post_value" value="commit">commit python script</button>
    </form>
    <form action="/" method="get">
		<button name="back_to_root">back to root</button>
    </form>

  </body>
</html>
